body{
    font-family: 'Lato', sans-serif;
    background-color: #e8f9fd;
}

.jumbotron{
    
}

aside{

}

section{

}

#history{

}

.row{

}

.forecast{

}

.card{
    margin:10px;

}

#weatherDisplay{

}

.weatherFuture{

}

#day1 {

}

#searchBtn{
    border-radius: 5px;
    padding: 2px;

}

#searchBtn:hover{

}